.error {
	color: #ffd740;
	margin-left: 20px;
	line-height: 10px;
	font-weight: bold;
	font-size: .75em;
}
.form {
	margin: 20px;
	opacity: 0.75;
}
.form form{
	margin: 20px;
}
body {
	background: url("../images/dawn-nature-sunset-trees-large.jpg") no-repeat;
	background-size:100%;
}
.header {
	text-align: center;
	font-weight: bold;
}
.welcomebtn {
	margin: 20px;
	height: 500px;
}