.error {
	color: #ff9100;
	margin-left: 20px;
	line-height: 10px;
	font-weight: bold;
	font-size: .85em;
}
.form {
	margin: 20px;
	opacity: 0.75;
}
.form form{
	margin: 20px;
}
body {
	background: url("../images/dawn-nature-sunset-trees-large50.jpg") no-repeat;
	background-size:100%;
}
.header {
	text-align: center;
	padding: 10px;
	background-color: #00c853;
	opacity: 0.75;
}
.welcomebtn {
	margin: 20px;
	height: 500px;
}