<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Info</title>
    <style>
    #map {
        width: 100%;
        height: 400px;
     }
    </style>
  </head>
  <body>

<!-- Name: Mercer Slough Nature Park, Activity: Walking -->
    <iframe
      width="400"
      height="400"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCsU_kdW9jHsfhj6qU7aeoPmHfj5mC7gXQ
      &q=Mercer+Slough+Nature+Park,Bellevue+WA" allowfullscreen>
    </iframe>


<!-- Name: Bellevue Park,  Activity: PokemonGo & Frisbee -->
    <iframe
      width="400"
      height="400"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCsU_kdW9jHsfhj6qU7aeoPmHfj5mC7gXQ
      &q=Bellevue+Park,Bellevue+WA" allowfullscreen>
    </iframe>

<!-- Name: Bellevue Botanical Garden,  Activity: Running -->
    <iframe
      width="400"
      height="400"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCsU_kdW9jHsfhj6qU7aeoPmHfj5mC7gXQ
      &q=Bellevue+Botanical+Garden,Bellevue+WA" allowfullscreen>
    </iframe>

<!-- Name: Surrey Downs Park,  Activity: Baseball, Soccer, Basketball, Volleyball, Football, Rugby -->
    <iframe
      width="400"
      height="400"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCsU_kdW9jHsfhj6qU7aeoPmHfj5mC7gXQ
      &q=Surrey+Downs+Park,Bellevue+WA" allowfullscreen>
    </iframe>


  </body>
</html>
