<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Info</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'gameapp/css/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'gameapp/css/style.css' %}">
    <script type="text/javascript" src="{% static 'gameapp/js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'gameapp/js/materialize.min.js' %}"></script>
  </head>
  <body id="info_wrapper">
    <div class="header z-depth-2">
      <h2 class="white-text">Game Info</h2>
    </div>
<!-- Name: Mercer Slough Nature Park, Activity: Walking -->
  {% if game == 'Walking' %}
    <iframe
      width="400"
      height="400"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCsU_kdW9jHsfhj6qU7aeoPmHfj5mC7gXQ
      &q=Mercer+Slough+Nature+Park,Bellevue+WA" allowfullscreen>
    </iframe>
  {% endif %}

<!-- Name: Bellevue Park,  Activity: PokemonGo & Frisbee -->
  {% if game == 'Pokemon GO' or game == 'Frisbee' %}
    <iframe
      width="400"
      height="400"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCsU_kdW9jHsfhj6qU7aeoPmHfj5mC7gXQ
      &q=Bellevue+Park,Bellevue+WA" allowfullscreen>
    </iframe>
    {% endif %}
<!-- Name: Bellevue Botanical Garden,  Activity: Running -->
  {% if game == 'Running' %}
    <iframe
      width="400"
      height="400"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCsU_kdW9jHsfhj6qU7aeoPmHfj5mC7gXQ
      &q=Bellevue+Botanical+Garden,Bellevue+WA" allowfullscreen>
    </iframe>
    {% endif %}

<!-- Name: Surrey Downs Park,  Activity: Baseball, Soccer, Basketball, Volleyball, Football, Rugby -->
  {% if game == 'Baseball' or game == 'Basketball' or game == 'Football' or game == 'Soccer' or game == 'Rugby' or game == 'Volleyball'%}
    <iframe
      width="400"
      height="400"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCsU_kdW9jHsfhj6qU7aeoPmHfj5mC7gXQ
      &q=Surrey+Downs+Park,Bellevue+WA" allowfullscreen>
    </iframe>
    {% endif %}

  </body>
</html>
