<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Start a Game</title>
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'gameapp/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
      <!-- <link rel="stylesheet" type="text/css" href="{% static 'gameapp/css/materialize.min.css' %}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'gameapp/css/style.css' %}">
      <script type="text/javascript" src="{% static 'gameapp/js/jquery-3.1.0.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'gameapp/js/materialize.min.js' %}"></script>
      <script type="text/javascript">
          $(document).ready(function() {
              Materialize.updateTextFields();
              $('select').material_select();
              $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
              });
              $('.timepicker').pickatime({
                default: 'now',
                twelvehour: false, // change to 12 hour AM/PM clock from 24 hour
                donetext: 'OK',
                autoclose: false,
                vibrate: true // vibrate the device when dragging clock hand
              });
          });
      </script> -->
  </head>
  <body id="start_wrapper">
    <div class="header z-depth-2">
      <h2 class="white-text">Let's get started!</h2>
    </div>
    <div class="row">
      <div class="col s3"></div>
        <div class="imagecenter">
         <img src="/static/gameapp/images/football.png">
         <img src="/static/gameapp/images/soccer.png">
         <img src="/static/gameapp/images/basketball.png">
         <img src="/static/gameapp/images/volleyball.png">
         <img src="/static/gameapp/images/pokemon.png">
         <img src="/static/gameapp/images/baseball.png">
         <img src="/static/gameapp/images/frisbee.png">
         <img src="/static/gameapp/images/running.png">
         <img src="/static/gameapp/images/rugby.png">
         <img src="/static/gameapp/images/walking.png">
        </div>
      </div>
    </div>


            <form action="/start_game" method="post">
            {% csrf_token %}
              <h6 >Select a Game and Location</h6>
              <select name="gametype_selection" class="icons">
                {% for gametype in gametypes %}
                  <option value='{{gametype.id}}'>{{gametype.game}} @ {{gametype.location}}</option>
                {% endfor %}
              </select>
                <h6>Select a Number of Players</h6>
                  <select name='players' type='text'>
                    <option value="1">1 player</option>
                    <option value="2">2 players</option>
                    <option value="3">3 players</option>
                    <option value="4">4 players</option>
                    <option value="5">5 players</option>
                    <option value="6">6 players</option>
                    <option value="7">7 players</option>
                    <option value="8">8 players</option>
                    <option value="9">9 players</option>
                    <option value="10">10 players</option>
                    <option value="11">11 players</option>
                    <option value="12">12 players</option>
                    <option value="13">13 players</option>
                    <option value="14">15 players</option>
                    <option value="15">15 players</option>
                  </select><br>
                  <input type="date" name="date"><br>
                  <input type="time" name="time"><br>
                  <input type="submit" value="Start"><br>
            </form>
  </body>
</html>
