.error {
	color: #ffd740;
	margin-left: 20px;
	line-height: 10px;
	font-weight: bold;
	font-size: .75em;
}
.form {
	margin: 20px;
}
.form form{
	margin: 20px;
}
.header {
	text-align: center;
	font-weight: bold;
	margin-bottom: 50px;
}
#landing_wrapper {
	background: url("../images/shoe50.jpg") no-repeat;
	background-size:100%;
}
.welcomebtn {
	width: 100%;
}
.mycard {
	opacity: 0.75;
	width: 100%;
}